@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('pacifico.woff2') format('woff2'),
         url('pacifico.woff') format('woff');
}
